RewriteEngine On

# Evita que se apliquen las reglas si se accede a un archivo o directorio real
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirige todo al archivo index.php pasando la ruta como parámetro 'url'
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]